# Gradle
.gradle
build

# Idea
.idea
*.iml

# Go
.gogradle
*.exe

# NodeJS
dist
node_modules

# Rust
target

# sbt
.bsp
.cache
.history
.lib
lib_managed
src_managed
project/boot
project/plugins/project